.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
}


.open-modal-button {
  background-color: #173AD3;
  color: #ffff;
  border: none;
  padding: 12px 24px;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.open-modal-button:hover {
  background-color: #6174c9;
  color: rgb(0, 0, 0);
  transform: translateY(-2px);
}

.open-modal-button:active {
  transform: translateY(1px);
}